.MovieBox {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.Image {
  margin-right: 50px;
}

.MovieOverview {
  font-size: 20px;
}
